@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px;
    background: #fff;  /* ESSENCIAL PRA SOMBRA APARECER */
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
    position: relative;
    z-index: 10;
}
header img {
    height: 90px;
    object-fit: contain;
    margin: 0; /* importante pra sombra aparecer certinho! */
}

.menu, .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* menu principal horizontal */
.menu {
  display: flex;
  gap: 20px;
}

/* itens do menu */
.menu > li {
  position: relative;  /* para posicionar o submenu em relação a ele */
}

/* links do menu */
.menu a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  display: block;
}

/* seta automática depois dos links que tiverem submenu */
.menu > li.dropdown > a::after {
  content: " ▼";  /* Unicode da setinha pra baixo */
  font-size: 0.8em;
  margin-left: 5px;
}

/* submenu escondido por padrão */
.submenu {
  display: none;
  position: absolute;
  top: 100%;  /* logo abaixo do item pai */
  left: 0;
  background: #fff;
  border: 1px solid #d8d8d8;
  min-width: 250px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  z-index: 1000;
  border-radius: 18px;
}

/* itens do submenu */
.submenu li a {
  padding: 8px 12px;
  color: #333;
}

/* mostra o submenu quando o mouse está sobre o item pai */
.dropdown:hover .submenu {
  display: block;
}

/* opcional: efeito visual ao passar o mouse nos links */
.menu a:hover, .submenu li a:hover {
  background: #96caff;
  border-radius: 15px;
}


.descricao{
    text-align: center;
    margin: auto;
    max-width: 1000px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.descricao h2{
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}


.btn{
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #4ea7ff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    margin: auto;
    margin-top: 40px;
}

.btn:hover{
    cursor: pointer;
    background-color: #0a5dac;
    
}

.btn a{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}


.button:hover {
    background: #ce7807;
    cursor: pointer;
}

.quemsomos{
    display: flex;
    background-color: #1966ad;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    
}

.quemsomos img{
    width: 50%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.texto{
    width: 50%;
    color: white;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.texto p{
    font-size: 18px;
    line-height: 1.9;
}

.texto h2{
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
}


.depoimentos {
    background: linear-gradient(to left, #d1d1d1, #f1f1f1);
    padding: 60px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.depoimentos h2 {
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.swiper {
    width: 50%;
    margin: auto;
    padding-bottom: 40px;;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 6px;
    max-width: 620px;
    min-height: 280px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;

}


.stars {
    font-size: 20px;
    color: #e6b400;
    margin-bottom: 15px;
}


.card p {
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    flex-grow: 1;     
    display: flex;
    align-items: center;   /* centraliza verticalmente o texto dentro do espaço dele */
}

/* nome colado no final */
.card h4,
.card .nome {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding-top: 15px;
}


.footer {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #05294b;
    color: #f3f3f3;
    padding: 50px 60px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* ===== LADO ESQUERDO - IMAGEM ===== */
.footer-left {
  flex: 1; /* ocupa metade */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left img {
  width: 250px;
  border-radius: 260px;
  object-fit: cover;
  
}

/* ===== LADO DIREITO - CONTATOS ===== */
.footer-right {
  flex: 1;
  text-align: left;
  padding-left: 40px;
}

.footer-right h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-right p {
  color: #ffffff;
  margin-bottom: 5px;
}

/* ===== CONTATO ===== */
.contato {
  margin: 20px 0;
  line-height: 1.8;
}

/* ===== REDES SOCIAIS ===== */

/* ===== DIREITOS AUTORAIS ===== */
.copy {
  font-size: 0.85rem;
  color: #747474;
  margin-top: 25px;
}

.divisao{
    background-color: #7494ec;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
 
}


.menu-toggle {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: #333;
}

/* ----- RESPONSIVIDADE DOS DEPOIMENTOS ----- */

@media (max-width: 480px) {
    header {
        padding: 15px 30px;
    }

    header img{
        height: 80px;
    }
    main img{
        height: 350px;
    }

    .descricao h2{
        font-size: 30px;
    }

    .quemsomos{
        flex-direction: column;
    }
    .quemsomos img{
        width: 100%;
        height: 300px;
    }

    .quemsomos .texto h2{
        font-size: 28px;
        text-align: center;
    }

    .quemsomos .texto{
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .btn{
        margin-top: 30px;
        width: 50%;
        background-color: #4ea7ff;
    }

    .galeria a{
        margin-bottom: 10px;
    }
    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        width: 60%;
        flex-direction: column;
        gap: 0;
        display: none; /* escondido */
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        border-radius: 0 0 10px 10px;
        z-index: 999;
    }

    .menu li {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .menu li a {
        padding: 12px;
    }

    /* Submenu dentro do mobile */
    .submenu {
        position: relative;
        border: none;
        box-shadow: none;
        background: #f7f7f7;
    }

    .dropdown:hover .submenu {
        display: none; /* DESATIVA o hover no mobile */
    }

    /* Submenu abre no clique */
    .dropdown.open .submenu {
        display: block;
    }
    /* Container geral dos depoimentos */
#depoimentos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 0;
}

/* Cada card */
.depoimento {
    width: 300px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    /* Isso força o nome ficar SEMPRE no final */
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Estrelas no topo */
.depoimento .estrelas {
    font-size: 22px;
    color: #f1c40f;
    text-align: center;
}

/* Texto do depoimento */
.depoimento .texto {
    font-size: 15px;
    color: #333;
    line-height: 1.4;
    text-align: center;
    flex-grow: 1; 
    /* Isso faz o texto ocupar o espaço e não empurrar o nome */
}

/* Nome no rodapé do card */
.depoimento .nome {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.infos{
    flex-direction: column;
    align-items: center;
}

.social{
    flex-direction: column;
}


    footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 20px;
    }

    .footer-left img {
        width: 140px;
    }

    .footer-right h2 {
        font-size: 20px;
    }

    .footer-right p {
        font-size: 14px;
    }
}